@import "tailwindcss";

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.inter-primary {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  /*font-weight: 400;*/
  font-style: normal;
}

@theme {
  --color-primary: #20294e;
}

.springy {
  transition: transform 1.3s
    linear(
      0,
      0.009,
      0.035 2.1%,
      0.141,
      0.281 6.7%,
      0.723 12.9%,
      0.938 16.7%,
      1.017,
      1.077,
      1.121,
      1.149 24.3%,
      1.159,
      1.163,
      1.161,
      1.154 29.9%,
      1.129 32.8%,
      1.051 39.6%,
      1.017 43.1%,
      0.991,
      0.977 51%,
      0.974 53.8%,
      0.975 57.1%,
      0.997 69.8%,
      1.003 76.9%,
      1.004 83.8%,
      1
    );
}

.overshoot {
  transition: transform 500ms
    linear(
      0,
      0.192 4.1%,
      0.361 8.2%,
      0.513 12.5%,
      0.645 16.9%,
      0.703 19.1%,
      0.758 21.4%,
      0.808 23.7%,
      0.854 26.1%,
      0.895 28.5%,
      0.932 31%,
      0.964 33.5%,
      0.993 36.1%,
      1.013 38.3%,
      1.031 40.6%,
      1.046 42.9%,
      1.058 45.3%,
      1.067 47.8%,
      1.074 50.3%,
      1.078 53%,
      1.08 55.8%,
      1.077 60.4%,
      1.069 65.5%,
      1.057 70.4%,
      1.024 82.4%,
      1.01 88.7%,
      1.002 94.4%,
      1
    );
}

.overshoot2 {
  transition: transform 600ms
    linear(
      0,
      0.243 2.4%,
      0.463 5%,
      0.65 7.7%,
      0.805 10.5%,
      0.874 12%,
      0.933 13.5%,
      0.985 15%,
      1.032 16.6%,
      1.073 18.3%,
      1.106 20%,
      1.135 21.8%,
      1.156 23.6%,
      1.174 25.8%,
      1.185 28.1%,
      1.189 30.6%,
      1.186 33.4%,
      1.177 36.4%,
      1.162 39.8%,
      1.09 52%,
      1.062 57.3%,
      1.041 62.1%,
      1.025 66.9%,
      1.012 73%,
      1.004 79.7%,
      1.001 87.3%,
      1
    );
}

.frontpageheader::after {
  position: absolute;
  content: "";
  top: 0;
  right: -4rem;
  width: 50px;
  height: 100%;
  background-color: #fff;
  transform: skewX(-20.5deg);
}
