---
import Layout from "../layouts/Layout.astro";
import News from "../components/News.astro";

import SmallSponsors from "../components/SmallSponsors.astro";
import Calendar from "../components/Calendar.astro";
import Frontpageheader from "../components/Frontpageheader.astro";
import SocialcardFallback from "../components/SocialcardFallback.astro";
import Hero2 from "../components/Hero2.astro";
import DynamicSocial from "../components/DynamicSocial.astro";
import Gallery from "../components/Gallery.astro";
import Vorstand from "../components/Vorstand.astro";
import Footer from "../components/Footer.astro";

export const prerender = true;
---

<Layout>
  <div class="flex flex-1 flex-col justify-start overflow-auto">
    <div class="mt-30 flex w-full flex-col">
      <div class="m-16 flex flex-col gap-16 text-white">
        <div>
          <h1 class="text-7xl font-black">IMPRESSUM</h1>

          <p>
            Yannik Zeyer<br />
            Zum Eisresch 36a<br />
            66822 Lebach
          </p>
        </div>
        <div>
          <h2 class="text-7xl font-black">KONTAKT</h2>
          <p>
            Telefon: 0151 2222 8048<br />
            E-Mail: throwaway.relock977@passinbox.com
          </p>
        </div><div>
          <h2 class="text-7xl font-black">REDAKTIONELL VERANTWORTLICH</h2>
          <p>Yannik Zeyer</p>
        </div>
      </div>
      <Footer />
    </div>
  </div>
</Layout>
