---
import Layout from "../layouts/Layout.astro";
import News from "../components/News.astro";

import SmallSponsors from "../components/SmallSponsors.astro";
import Calendar from "../components/Calendar.astro";
import Frontpageheader from "../components/Frontpageheader.astro";
import SocialcardFallback from "../components/SocialcardFallback.astro";
import Hero2 from "../components/Hero2.astro";
import DynamicSocial from "../components/DynamicSocial.astro";
import Gallery from "../components/Gallery.astro";
export const prerender = true;
---

<Layout>
  <div class="flex flex-1 flex-col justify-start overflow-auto">
    <div class="mt-20 flex w-full flex-col gap-10">
      <News />
      <!-- 
            <Calendar />
      <SmallSponsors />   -->
      <Gallery
        headerTitle="SOCIALS"
        childrenClassName="socialcard"
        classPrefix="socials"
      >
        <DynamicSocial server:defer>
          <SocialcardFallback slot="fallback" />
        </DynamicSocial>
      </Gallery>
    </div>
  </div>
</Layout>
<script>
  //ig gallery scrolling
  window.addEventListener(
    "load",
    () => {
      setInterval(function () {
        let galleries = document.querySelectorAll(".ig_gallery");
        galleries.forEach((gallery) => {
          if (gallery) {
            let max_scroll = gallery.scrollWidth - gallery.clientWidth;
            let current_scroll = gallery.scrollLeft;
            if (gallery.scrollLeft + gallery.clientWidth * 0.51 > max_scroll) {
              gallery.scrollLeft = 0;
            } else
              gallery.scrollLeft = current_scroll + gallery.clientWidth * 0.51;
          }
        });
      }, 5000);
    },
    true,
  );
</script>
