---
import Layout from "../layouts/Layout.astro";
import News from "../components/News.astro";
import DynamicSocial from "../components/DynamicSocial.astro";
import SmallSponsors from "../components/SmallSponsors.astro";
import Calendar from "../components/Calendar.astro";
import Frontpageheader from "../components/Frontpageheader.astro";
import SocialcardFallback from "../components/SocialcardFallback.astro";
export const prerender = true;
//TODO you probably need to farm out this html logik into a proper framework ui component
//until then you have this
---

<Layout>
  <div
    slot="extranav"
    class="text-primary flex h-12 w-full flex-row bg-white text-sm md:hidden"
  >
    <div class:list={["news flex flex-1", "picked"]}>
      <p class="flex-1 self-center text-center">NEWS</p>
    </div>
    <div class:list={["social flex flex-1"]}>
      <p class="flex-1 self-center text-center">SOZIAL</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col justify-start overflow-auto md:px-[10vw]">
    <div
      class="flex flex-1 flex-col justify-start md:flex-row md:content-start md:justify-center md:gap-10 md:px-[10vw]"
    >
      <div
        class="newscontainer flex-col content-start overflow-auto md:my-10 md:flex md:max-h-max md:max-w-4xl md:flex-2 md:gap-10"
      >
        <News />
        <SmallSponsors />
        <Calendar />
      </div>
      <div
        class="serverislandcontainer flex flex-col overflow-hidden md:my-10 md:flex md:h-0 md:min-h-[calc(100%-(--spacing(10)*2))] md:max-w-xs md:flex-1 md:gap-3"
      >
        <DynamicSocial server:defer>
          <SocialcardFallback slot="fallback" />
        </DynamicSocial>
      </div>
    </div>
  </div>
  <style>
    .picked {
      background: var(--color-primary);
      color: white;
    }
  </style>
  <script>
    let newsButton = document.querySelector(".news");
    let socialButton = document.querySelector(".social");
    newsButton?.addEventListener("click", (event) => {
      newsButton?.classList.add("picked");
      socialButton?.classList.remove("picked");
      document.querySelector(".serverislandcontainer")?.classList.add("hidden");
      document.querySelector(".newscontainer")?.classList.remove("hidden");
    });
    socialButton?.addEventListener("click", (event) => {
      newsButton?.classList.remove("picked");
      socialButton?.classList.add("picked");
      document
        .querySelector(".serverislandcontainer")
        ?.classList.remove("hidden");
      document.querySelector(".newscontainer")?.classList.add("hidden");
    });
    (newsButton as HTMLElement).click();
    //ig gallery scrolling
    window.addEventListener(
      "load",
      () => {
        setInterval(function () {
          let galleries = document.querySelectorAll(".ig_gallery");
          console.log(galleries.length);
          galleries.forEach((gallery) => {
            if (gallery) {
              let max_scroll = gallery.scrollWidth - gallery.clientWidth;
              let current_scroll = gallery.scrollLeft;
              if (
                gallery.scrollLeft + gallery.clientWidth * 0.51 >
                max_scroll
              ) {
                gallery.scrollLeft = 0;
              } else
                gallery.scrollLeft =
                  current_scroll + gallery.clientWidth * 0.51;
            }
          });
        }, 5000);
      },
      true,
    );
  </script>
</Layout>
