---
import Layout from "../layouts/Layout.astro";
import News from "../components/News.astro";
import DynamicSocial from "../components/DynamicSocial.astro";

//TODO you probably need to farm out this html logik into a proper framework ui component
//until then you have this
---

<Layout>
  <div
    slot="extranav"
    class="text-primary flex h-12 w-full flex-row bg-white text-sm md:hidden"
  >
    <div class:list={["news flex flex-1", "picked"]}>
      <p class="flex-1 self-center text-center">NEWS</p>
    </div>
    <div class:list={["social flex flex-1"]}>
      <p class="flex-1 self-center text-center">SOZIAL</p>
    </div>
  </div>
  <div
    class="flex flex-1 flex-col content-start justify-center overflow-hidden md:flex-row md:gap-8 md:overflow-auto md:px-[10vw]"
  >
    <div
      class="newscontainer snap-y snap-proximity content-start overflow-auto md:flex md:max-w-4xl md:flex-2 md:overflow-visible"
    >
      <News />
    </div>
    <div
      class="serverislandcontainer flex snap-y snap-proximity flex-col gap-3 overflow-auto p-3 md:flex md:max-w-xs md:flex-1 md:gap-4 md:overflow-visible md:p-8 md:px-0"
    >
      <DynamicSocial server:defer />
    </div>
  </div>
  <style>
    .picked {
      background: var(--color-primary);
      color: white;
    }
  </style>
  <script>
    let newsButton = document.querySelector(".news");
    let socialButton = document.querySelector(".social");
    newsButton?.addEventListener("click", (event) => {
      newsButton?.classList.add("picked");
      socialButton?.classList.remove("picked");
      document.querySelector(".serverislandcontainer")?.classList.add("hidden");
      document.querySelector(".newscontainer")?.classList.remove("hidden");
    });
    socialButton?.addEventListener("click", (event) => {
      newsButton?.classList.remove("picked");
      socialButton?.classList.add("picked");
      document
        .querySelector(".serverislandcontainer")
        ?.classList.remove("hidden");
      document.querySelector(".newscontainer")?.classList.add("hidden");
    });
    (newsButton as HTMLElement).click();
    //comment
  </script>
</Layout>
