---
import CalendarCard from "./CalendarCard.astro";
import Frontpageheader from "./Frontpageheader.astro";
import holz from "../assets/holz_128x128.png";
---

<div class="hidden flex-col md:flex md:gap-3">
  <Frontpageheader text="alemannia kalender" />
  <div
    class="flex flex-row flex-wrap content-start gap-3 p-3 md:gap-5 md:p-0 md:px-20"
  >
    <CalendarCard
      League="Landesliga"
      GameDayNumber="19"
      Weekday="Sonntag"
      Date="09.03.2024"
      Time="15:00"
      EnemyLogo={holz}
      Enemyteamname="Holz-Wahlschied I"
      Hometeamname="SG Thalexweiler-Aschbach I"
      Stadiumname="Nachtweide Thalexweiler"
    />
    <CalendarCard
      League="Kreisliga"
      GameDayNumber="22"
      Weekday="Sonntag"
      Date="09.03.2024"
      Time="12:45"
      EnemyLogo={holz}
      Enemyteamname="Holz-Wahlschied II"
      Hometeamname="SG Thalexweiler-Aschbach II"
      Stadiumname="Nachtweide Thalexweiler"
    />
  </div>
</div>
