---
import Frontpageheader from "./Frontpageheader.astro";
---

<div class="flex flex-col md:gap-3 md:p-10 md:px-0">
  <Frontpageheader text="alemannia kalender" />
  <div class="flex flex-row flex-wrap content-start gap-3 p-3 md:gap-5 md:p-0">
    <div class="md:max-w-[calc(50%-(--spacing(2.5)))]"></div>
  </div>
</div>
