---
import DynamicSocial from "../components/DynamicSocial.astro";
import News from "./News.astro";

interface Props {
  isNews: boolean;
}
const { isNews } = Astro.props;
console.log(isNews);
console.log(!isNews);
console.log(typeof isNews);
---

<div class="text-primary flex h-12 w-full flex-row bg-white text-sm">
  <div class:list={["news flex flex-1", { picked: isNews }]}>
    <a href="/" class="flex-1 self-center text-center">NEWS</a>
  </div>
  <div class:list={["social flex flex-1", { picked: !isNews }]}>
    <a href="/sozial" class="flex-1 self-center text-center">SOZIAL</a>
  </div>
  <style>
    .picked {
      background: var(--color-primary);
      color: white;
    }
  </style>
</div>
<script>
  let newsButton = document.querySelector(".news");
  let socialButton = document.querySelector(".social");
  newsButton?.addEventListener("click", (event) => {
    newsButton?.classList.add("picked");
    socialButton?.classList.remove("picked");
  });
  socialButton?.addEventListener("click", (event) => {
    newsButton?.classList.remove("picked");
    socialButton?.classList.add("picked");
  });
</script>
