---
import { Image } from "astro:assets";
import iglogo from "../assets/instagramwhite.svg";
import { sponsorJSON } from "../utilities/sponsors";
---

<div
  class="from-background to-dark-gray-750 border-b-primary flex h-[var(--container-2xl)] w-full flex-col justify-end gap-16 border-b-8 bg-linear-to-b p-16 text-lg text-neutral-400"
>
  <div class="allsponsors flex flex-row flex-wrap gap-6">
    {
      sponsorJSON.sponsors.map((sponsor: any) => {
        return (
          <div class="w-max rounded-xl border-[1px] border-solid border-zinc-300 px-4 py-2">
            <Image
              src={sponsor.ImageUrl}
              inferSize
              alt="Portrait"
              class="h-12 w-max object-contain grayscale"
            />
          </div>
        );
      })
    }
  </div>
  <div class="informationcontainer flex flex-col font-light">
    <div>SV Alemannia Thalexweiler</div>
    <div>Alemaniastraße 21</div>
    <div>66822 Lebach</div>
  </div>
  <div class="flex flex-row gap-8 font-light">
    <div>© 2025 SV Thalexweiler</div>
    <a href="/">Startseite</a>
    <a class="h-max" href="https://www.instagram.com/sgthalexweileraschbach/"
      >Instagram
    </a>
    <a href="/Impressum">Impressum</a>
    <a href="/Datenschutzerklaerung">Datenschutzerklärung</a>
  </div>
</div>
