---
import Image from "astro/components/Image.astro";
import logo from "../assets/logo.svg";
const { text } = Astro.props;
---

<div class="mb-8 flex w-full justify-center">
  <h1 class="min-w-6xl text-4xl font-black text-white italic">{text}</h1>
</div>
