---
import "../styles/global.css";
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import bruno from "../assets/bruno.png";
import britz from "../assets/britz.png";
import obbo from "../assets/obbo.svg";
import mwkonzept from "../assets/mwkonzept.png";

import iglogo from "../assets/instagramwhite.svg";
---

<div
  class="relative z-20 flex w-full flex-row justify-evenly border-0 border-t-4 border-solid border-t-blue-600 bg-black p-3 text-white"
>
  <span
    class="material-symbols-rounded absolute left-6 hidden! self-center text-4xl! text-white hover:cursor-not-allowed hover:opacity-50 xl:flex!"
    >menu</span
  >
  <div class="flex h-full w-full max-w-6xl justify-between">
    <div class="flex h-full items-center justify-center gap-2 md:gap-0">
      <span
        class="material-symbols-rounded left-6 flex self-center text-4xl! text-white hover:cursor-not-allowed hover:opacity-50 xl:hidden!"
        >menu</span
      >
      <Image
        class="mr-3 h-8 w-8 md:h-14 md:w-14"
        width="38"
        height="38"
        src={logo}
        alt="Club Logo."
      />
      <div class="hidden h-full flex-col justify-center md:flex">
        <div class="mb-[-3px] font-black">SVALEMANNIA</div>
        <div class="mt-[-3px] font-black">THALEXWEILER</div>
      </div>
    </div>
    <div
      class="flex h-full w-max flex-row items-center justify-between gap-2 md:gap-6"
    >
      <button
        class="border-primary border-2 border-solid px-4 py-2 text-xs hover:cursor-not-allowed hover:opacity-50 md:text-base"
        >LOGIN</button
      >
      <span
        class="material-symbols-rounded h-max text-xl! text-white hover:cursor-not-allowed hover:opacity-50"
        >shopping_cart</span
      >
      <span
        class="material-symbols-rounded h-max text-xl! text-white hover:cursor-not-allowed hover:opacity-50"
        >search</span
      >
      <a class="h-max" href="https://www.instagram.com/sgthalexweileraschbach/"
        ><Image src={iglogo} alt="" class="w-4" /></a
      >
    </div>
  </div>
</div>

<script>
  document.querySelector(".mobile-menu")?.addEventListener("click", () => {
    document
      .querySelector(".mobile-sliding-menu")
      ?.classList.toggle("expanded");
  });
  document.querySelectorAll(".link").forEach((item) => {
    item.addEventListener("click", () => {
      document
        .querySelector(".mobile-sliding-menu")
        ?.classList.remove("expanded");
    });
  });

  var scrollHandler: NodeJS.Timeout;
  window.addEventListener("load", scrollBigSponsors, true);
  function scrollBigSponsors() {
    const scroller = document.querySelector(".bigsponsorscroller");
    scrollHandler = setInterval(function () {
      if (scroller) {
        let max_scroll = scroller.scrollWidth - scroller.clientWidth;
        let current_scroll = scroller.scrollLeft;
        if (scroller.scrollLeft + scroller.clientWidth * 0.51 > max_scroll) {
          scroller.scrollLeft = 0;
        } else
          scroller.scrollLeft = current_scroll + scroller.clientWidth * 0.51;
      }
    }, 2500);
  }
</script>
<style>
  .mobile-sliding-menu {
    transform: translateY(-100%);
  }

  .mobile-sliding-menu.expanded {
    transform: translateY(0%);
  }
</style>
