---
import "../styles/global.css";
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
---

<div class="flex flex-col">
  <nav class="bg-primary z-20 flex h-40 w-full flex-row">
    <div
      class="mobile-menu flex h-min flex-1 content-center justify-start text-white"
    >
      <span class="material-symbols-rounded ml-1 text-4xl!"> menu </span>
      <label class="self-center text-sm font-light">MENÜ</label>
    </div>
    <div class="flex flex-1 justify-center self-center">
      <Image class="h-28 w-28" src={logo} alt="Club Logo." />
    </div>
    <div class="flex flex-1 justify-end">
      <span class="material-symbols-rounded mt-1.5 mr-1 text-xl! text-white">
        search
      </span>
    </div>
  </nav>
  <div
    class="bg-primary mobile-sliding-menu overshoot absolute z-10 flex h-full w-full flex-1 flex-col text-white"
  >
    <div class="h-40"></div>
    <div
      class="flex flex-1 flex-col content-center justify-evenly p-4 text-3xl font-light"
    >
      <a href="/" class="link">NEWS</a>
      <a href="/vorstand" class="link">VORSTAND</a>
      <a class="link">KONTAKT</a>
      <a class="link">IMPRESSUM</a>
    </div>
    <div class="flex-1 content-center border-2 text-center text-2xl font-light">
      SPONSORSPACE
    </div>
  </div>
</div>
<script>
  document.querySelector(".mobile-menu")?.addEventListener("click", () => {
    document
      .querySelector(".mobile-sliding-menu")
      ?.classList.toggle("expanded");
  });
  document.querySelectorAll(".link").forEach((item) => {
    item.addEventListener("click", () => {
      document
        .querySelector(".mobile-sliding-menu")
        ?.classList.remove("expanded");
    });
  });
</script>
<style>
  .mobile-sliding-menu {
    transform: translateY(-100%);
  }

  .mobile-sliding-menu.expanded {
    transform: translateY(0%);
  }
</style>
<!-- TODO
 VORSTANDPAGE
 SOCIAL PAGE WITH BLOGLIKE ENTRIES
  -->
