---

---

<div class="bg-primary flex w-full justify-center">
  <div
    class="relative m-10 flex aspect-100/64 w-xl self-center rounded-sm border-4 border-solid border-white bg-green-500"
  >
    <div
      id="lefthalf"
      class="flex flex-1 flex-col justify-center border-r-2 border-solid border-white bg-transparent"
    >
      <div
        class="16er absolute flex aspect-16/40 h-40/64 flex-col justify-center border-4 border-l-0 border-solid border-white bg-transparent"
      >
        <div
          class="5er absolute aspect-55/183 h-18/40 border-4 border-l-0 border-solid border-white bg-transparent"
        >
        </div>
      </div>
    </div>
    <div
      id="right"
      class="flex flex-1 flex-col items-end justify-center border-l-2 border-solid border-white bg-transparent"
    >
      <div
        class="16er absolute flex aspect-16/40 h-40/64 flex-col items-end justify-center border-4 border-r-0 border-solid border-white bg-transparent"
      >
        <div
          class="5er absolute aspect-55/183 h-18/40 border-4 border-r-0 border-solid border-white bg-transparent"
        >
        </div>
      </div>
    </div>
    <div
      class="mittelkreis absolute inset-1/2 aspect-square h-[25%] -translate-1/2 transform rounded-full border-4 border-solid border-white bg-transparent"
    >
    </div>
  </div>
</div>
