---
import { Image } from "astro:assets";
import Mannschaftsbild from "../assets/mannschaftsbild.png";
---

<div class="h-[50lvh] w-full">
  <Image
    class="h-full w-full object-cover"
    src={Mannschaftsbild}
    alt="Herobanner Mannschaft"
  />
</div>
