---
import "../styles/global.css";
import { Image } from "astro:assets";
import bruno from "../assets/bruno.png";
import britz from "../assets/britz.png";
import obbo from "../assets/obbo.svg";
import mwkonzept from "../assets/mwkonzept.png";
---

<div
  class="bg-primary flex h-[500px] w-xl justify-center overflow-clip shadow-xl shadow-white"
>
  <div
    class="bg-primary rotationcontainer flex h-full max-h-full w-full flex-1 content-center justify-center perspective-distant perspective-origin-center"
  >
    <div
      class="soccerfield relative flex aspect-100/64 w-[100%] rotate-x-45 rotate-z-45 self-start rounded-sm border-4 border-solid border-white bg-transparent shadow-[0_0_20px_white]"
    >
      <div
        id="lefthalf"
        class="flex flex-1 flex-col justify-center border-r-2 border-solid border-white bg-transparent"
      >
        <div
          class="16er absolute flex aspect-16/40 h-40/64 flex-col justify-center border-4 border-l-0 border-solid border-white bg-transparent"
        >
          <div
            class="5er absolute aspect-55/183 h-18/40 border-4 border-l-0 border-solid border-white bg-transparent"
          >
          </div>
        </div>
      </div>
      <div
        id="right"
        class="flex flex-1 flex-col items-end justify-center border-l-2 border-solid border-white bg-transparent"
      >
        <div
          class="16er absolute flex aspect-16/40 h-40/64 flex-col items-end justify-center border-4 border-r-0 border-solid border-white bg-transparent"
        >
          <div
            class="5er absolute aspect-55/183 h-18/40 border-4 border-r-0 border-solid border-white bg-transparent"
          >
          </div>
        </div>
      </div>
      <div
        class="mittelkreis absolute inset-1/2 aspect-square h-[25%] -translate-1/2 transform rounded-full border-4 border-solid border-white bg-transparent"
      >
      </div>
    </div>
  </div>
</div>
<script>
  var scrollHandler: NodeJS.Timeout;
  window.addEventListener("load", scrollBigSponsors, true);
  function scrollBigSponsors() {
    const scroller = document.querySelector(".smallfieldscroller");
    scrollHandler = setInterval(function () {
      if (scroller) {
        let max_scroll = scroller.scrollWidth - scroller.clientWidth;
        let current_scroll = scroller.scrollLeft;
        if (scroller.scrollLeft + scroller.clientWidth * 0.51 > max_scroll) {
          scroller.scrollLeft = 0;
        } else
          scroller.scrollLeft = current_scroll + scroller.clientWidth * 0.51;
      }
    }, 5000);
    const scroller2 = document.querySelector(".largefieldscroller");
    scrollHandler = setInterval(function () {
      if (scroller2) {
        let max_scroll = scroller2.scrollWidth - scroller2.clientWidth;
        let current_scroll = scroller2.scrollLeft;
        if (scroller2.scrollLeft + scroller2.clientWidth * 0.51 > max_scroll) {
          scroller2.scrollLeft = 0;
        } else
          scroller2.scrollLeft = current_scroll + scroller2.clientWidth * 0.51;
      }
    }, 5000);
  }
</script>
