---
import Newscard from "./Newscard.astro";
import news1 from "../assets/newsimage1.png";
import code from "../assets/code.jpg";
import Frontpageheader from "./Frontpageheader.astro";
---

<div class="flex flex-col md:gap-3">
  <Frontpageheader text="alemannia news" />
  <div class="flex flex-row flex-wrap content-start gap-3 p-3 md:gap-5 md:p-0">
    <div class="md:max-w-[calc(50%-(--spacing(2.5)))]">
      <Newscard
        Title="Website Development"
        Tag="DIGITAL"
        Description="Die neue Webseite befindet sich noch in der Entwicklung. Dementsprechend werden regelmäßig neue Features und Änderungen eingespielt. Die nächsten wichtigen Features sind: \n\n- Kontaktseite \n\- Impressum \n- Spieltagskalender \n\- Tabelle"
        Date="20.02.25"
        ImageUrl={code}
      />
    </div>
    <div class="md:max-w-[calc(50%-(--spacing(2.5)))]">
      <Newscard
        Title="Faasend Dreikampf"
        Tag="FESTLICHKEIT"
        Description="Bald ist es wieder soweit. Der diesjährige Fasend-Dreikampf steht schon wieder vor der Tür. Am 01.03.25 in der Don-Bosco-Halle Thalexweiler. Los geht’s um 12:30 Uhr. \nWie gewohnt werden pro Team 4 Spieler benötigt. Die Disziplinen sind Mini-Tischtennis, Dosenwerfen und Leiter-Golf. Anmeldungen mit dem jeweiligen Team-Namen werden ab sofort gerne via Social-Media Kanälen oder von unseren Vorstandsmitgliedern entgegengenommen. Anmeldeschluss ist der 23.02.25. Für Speis und Trank ist wie immer ebenfalls bestens gesorgt. \nWir freuen uns auf euch! "
        Date="24.01.25"
        ImageUrl={news1}
      />
    </div>
  </div>
</div>
