---
const { ImageUrl, Caption, Timestamp, Permalink } = Astro.props;
import { Image } from "astro:assets";
import iglogo from "../assets/instagram2.svg";
---

<div
  class="card text-primary flex snap-start scroll-m-3 flex-col rounded-b-sm bg-white"
>
  <div class="flex w-full overflow-hidden">
    <Image
      src={ImageUrl}
      inferSize
      alt="Portrait"
      class="min-w-full object-cover"
    />
  </div>
  <h1 class="bg-primary m-4 w-min px-4 py-[4px] text-xs font-light text-white">
    SGTHALEXWEILERASCHBACH
  </h1>
  <div class="m-4 mt-0 flex flex-1">
    <pre class="inter-primary text-xs text-wrap">{Caption}</pre>
  </div>
  <div class="smol-header m-4 mt-0 flex flex-row justify-between text-xs">
    <label class="self-end font-light text-gray-500"
      >{new Date(Timestamp).toLocaleDateString()}</label
    >
    <a href={Permalink}><Image src={iglogo} alt="" class="w-4" /></a>
  </div>
</div>
