---
const { ImageUrl, Caption, Timestamp, Permalink } = Astro.props;
import { Image } from "astro:assets";
import iglogo from "../assets/instagram2.svg";
import Frontpageheader from "./Frontpageheader.astro";
---

<Frontpageheader text="Alemannia Socials" />
<div class="flex flex-col gap-3 overflow-auto p-3 md:gap-5 md:p-0">
  <div
    class="card text-primary flex snap-start scroll-m-5 flex-col rounded-b-sm bg-white"
  >
    <div
      class="bg-primary/50 fakeimage flex h-[var(--container-xs)] w-full animate-pulse"
    >
    </div>
    <div
      class="bg-primary/50 m-4 h-6 w-52 animate-pulse rounded-xs px-4 py-[4px]"
    >
    </div>
    <div class="m-4 mt-0 flex flex-1 flex-col gap-1">
      <div class="bg-primary/50 h-4 w-full animate-pulse rounded-xs"></div>
      <div class="h-2 w-full bg-white"></div>
      <div class="bg-primary/50 h-4 w-full animate-pulse rounded-xs"></div>
      <div class="bg-primary/50 h-4 w-full animate-pulse rounded-xs"></div>
      <div class="bg-primary/50 h-4 w-full animate-pulse rounded-xs"></div>
      <div class="h-2 w-full bg-white"></div>
      <div class="bg-primary/50 h-4 w-full animate-pulse rounded-xs"></div>
      <div class="bg-primary/50 h-4 w-full animate-pulse rounded-xs"></div>
      <div class="bg-primary/50 h-4 w-full animate-pulse rounded-xs"></div>
      <div class="h-2 w-full bg-white"></div>
      <div class="bg-primary/50 h-4 w-40 animate-pulse rounded-xs"></div>
    </div>
    <div class="smol-header m-4 mt-0 flex flex-row justify-between text-xs">
      <div class="animate-pulse"><Image src={iglogo} alt="" class="w-4" /></div>
      <div class="bg-primary/50 h-4 w-14 animate-pulse self-end rounded-xs">
      </div>
    </div>
  </div>
</div>
