---
const { ImageUrl, Title, Name, Link } = Astro.props;
import { Image } from "astro:assets";
import iglogo from "../assets/instagram2.svg";
---

<div
  class="card text-primary flex h-28 w-full flex-1 flex-row rounded-sm bg-white"
>
  <div class="m-1 flex h-full flex-1 overflow-hidden rounded-full">
    <Image
      src={ImageUrl}
      alt="Portrait"
      class="min-w-full object-contain p-2"
    />
  </div>
  <div class="flex flex-1 flex-col justify-between overflow-hidden p-2 pl-0">
    <div class="relative bottom-[4px] flex w-full flex-col">
      <h1 class="text-end font-bold">{Name}</h1>
      <h3 class="text-end text-sm">{Title}</h3>
    </div>
    <div class="relative top-[5px] flex flex-col text-xs">
      <div class="flex self-end">
        <a href={Link}>
          <span
            class="relative bottom-[1px] self-center text-end font-extralight text-gray-500"
            >Weiter Infos</span
          ></a
        >
      </div>
    </div>
  </div>
</div>
